<nav class="navbar">
  <div class="navItems navLeft">
    <a href="/">Accueil</a>
    <a href="/visiteur">Les Établissements</a>
  </div>
  <div class="navItems navRight">
    <a href="/login">Se connecter </a>
  </div>
</nav>
